body {
  margin: 0;
  font: 13px/1.5 'Helvetica Neue',Helvetica,'Lucida Grande','Luxi Sans',Arial,'PingFang SC','Hiragino Sans GB',STHeiti,'Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Micro Hei Mono','WenQuanYi Zen Hei','WenQuanYi Zen Hei Mono',LiGothicMed;
  color: #333;
  background: #f9f1d5;
  min-width: 970px;
}
h2, h4 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.one-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}